name: generate plantuml
on:
  push:
    branches:
      - main
    paths:
      - 'plantUMLsrc'
jobs:
  generate_plantuml:
    runs-on: ubuntu-latest
    name: plantuml
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: plantuml
        id: plantuml
        uses: grassedge/generate-plantuml-action@master
        with:
          path: plantUMLsrc
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
